* {
	font-size: small;
	font-weight: normal;
	letter-spacing: 1px;
	color: #FFFFFF;
}

body {
	background-color: #000000;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px){
  img.bg {
  left: 50%;
  margin-left: -512px; }
}

input {
	color: #000000;
}

textarea {
	color: #000000;
}

#container {
	width: 95%;
	margin: 0px auto;
	position: relative;
	min-height: 100%;
}

/* ------------------------------
 header
------------------------------ */
#header {
	margin: 0px;
	padding: 0px;
}

#header ul {
	list-style: none outside;
	display: block;
	margin: 0px;
	padding: 0px;
}

#header li {
	float: left;
	width: 120px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: 1px #CCCCCC solid;
	background-color: #902080;
}

#header li a {
	background-color: #902080;
}

/* ------------------------------
 menu
------------------------------ */
#menu {
	margin: 0px;
	padding: 0px;
}

#menu ul {
	list-style: none outside;
	width: 1000px;
	display: block;
	margin: 0px;
	padding: 0px;
}

#menu li {
	float: left;
	width: 120px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	border: 1px #CCCCCC solid;
	background-color: #902080;
}

#menu li a {
	background-color: #902080;
}

/* ------------------------------
 main
------------------------------ */
#main {
	margin-top: 40px;
	margin-bottom: 100px;
	padding-bottom: 30px;
}

/* ------------------------------
 calendar
------------------------------ */
#calendar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#calendar li {
	margin: 0px;
	padding: 0px;
}

#calendar table {
	width: 1000px;
	border-top: 1px #CCCCCC solid;
	border-left: 1px #CCCCCC solid;
	border-collapse: collapse;
}

#calendar th {
	width: 100px;
	height: 20px;
	border-right: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	background-color: #5C2148;
}

#calendar td {
	width: 100px;
	border-right: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
}

#calendar td.day {
	height: 20px;
	color: #555555;
	background-color: #CC80B3;
}

#calendar td.event {
	height: 80px;
	background-color: #000000;
	vertical-align: top;
}

/* ------------------------------
 detail
------------------------------ */
#detail table {
	border-collapse: collapse;
}

#detail th {
	width: 150px;
	border-bottom: 1px #CCCCCC dashed;
	text-align: right;
	color: #B38BA6;
}

#detail th label {
	color: #B38BA6;
}

#detail td {
	width: 300px;
	border-bottom: 1px #CCCCCC dashed;
}

/* ------------------------------
 footer
------------------------------ */
#footer {
	clear: both;
	position: absolute;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	bottom: 0px;
	height: 30px;
	width: 100%;
}

#footer ul {
	list-style: none outside;
}

#footer li {
	text-align: center;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}